
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  color: #eb5d1e;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

#header {
    height: 87px;
    transition: all 0.5s;
   
    transition: all 0.5s;
    background: #e8e7eb;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  

  #header .logo h1 {
    font-size: 30px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #7a6960;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    
  }
  
  .container{
    display:flex;
  }

  #main {
    margin-top: 72px;
  }

  /* Navigation menu */
  .navbar {
  padding: 0;
  margin-left: 25rem;
 
}


.nav__logo {
  
	margin-top:10px;

}

.navbar ul {
  margin-top: 15px;
  padding: 0;
  display: flex;
 
  align-items: center;
}
.navbar li {
  position: relative;
  list-style: none;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #4e4039;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  list-style: none;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #eb5d1e;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #eb5d1e;
  color: #fff;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #ee7843;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
  
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #eb5d1e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
 
/**sticky header**/
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #7a6960;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
   
      
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(78, 64, 57, 0.9);
    transition: 0.3s;
    
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #7a6960;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #eb5d1e;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
    list-style:none
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #eb5d1e;
  
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }

  .nav__logo {
    height: 5.5rem;
    width: 15rem;
    transition: all 0.3s;
    margin-top: 0;
    margin-left: 4rem;
    
  }

    /*.. sliding..*/

    .nav_button_container{
      
    }

   
    .right-arrow{
      position: absolute;
      top: 40%;
      right: 32px;
      font-size: 3rem;
      color: red; 
      z-index: 10;
      cursor: pointer;
      user-select: none;

    }
    .left-arrow{
      position: absolute;
      top: 40%;
      left: 32px;
      font-size: 3rem;
      color: red; 
      z-index: 10;
      cursor: pointer;
      user-select: none;

    }
  
    



  .card {
    

   position:absolute;
   top:8rem;
  

  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;

  /* THIS creates the animation! */
  transition: transform 1s;
   
    
   
}

  .card-img {

  

 

  

  

    
   /* transform: translate(-50%, -30%) */
}


/*
.view_port{
  margin: 50px;
  padding:0;
  width:600px;
  height: 400px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: ;
/*overflow: hidden;
}

.images_container{
  margin: 0;
  padding:0;
  width:'inherit';
  height: 'inherit';
  position: 'absolute';
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
*/

/*
.nav_button_container{
  flex-wrap: wrap;
    flex:30%;
    z-index: 9999;
}

nav_button{
  position: absolute;
  top: 40%;
  
  font-size: 3rem;

  z-index: 9999;
  cursor: pointer;
  user-select: none;
}

*/
/*.. sliding ends here...*/

/*Timer starts here*

.clock{
  font-size: 50px;
  color: #fff;
  background: #252b27;
  margin-left:8rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
*/



.para{
  margin-left:8rem;
}





/* ..footer begins here*/

#footer {
  background: rgb(223, 71, 71);
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #fef8f5;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #fef6f5;
  text-align: center;
  font-size: 15px;
  margin-left:33rem;
  margin-top:40rem;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #4e4039;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #eb5d1e;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type=submit]:hover {
  background: #c54811;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}
#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: #043363;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
  
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f39e7a;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  list-style:none;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #eb5d1e;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #eb5d1e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #ef7f4d;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  float: left;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #212529;
}
#footer .credits a {
  color: #eb5d1e;
}
@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}


/*****/
.row{
  display:flex;
  flex-wrap: wrap;
}

.footers{
  margin-left: 10rem;
}

.chevvy{
  color:red;
}

